version: "3.9"

services:
  budget-control:
    container_name: "${NAME}"
    image: "${DOCKER_COMPOSE_IMAGE_NAME}"
    tty: true
    command: ["infisical", "run", "--projectId", "${PROJECT_ID}", "--", "sh", "./deployment.sh"]
    restart: always
    env_file:
      - .env 
    ports:
      - "127.0.0.1:${DOCKER_PORT}:${PORT}"
    environment:
      - INFISICAL_API_URL=${INFISICAL_API_URL}
      - INFISICAL_TOKEN=${INFISICAL_TOKEN}
      - INFISICAL_ENV=${INFISICAL_ENV}
      - PROJECT_ID=${PROJECT_ID}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://localhost:${PORT}/api/v1 || exit 1
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    logging:
      driver: "awslogs"
      options:
        awslogs-region: us-east-1
        awslogs-group: budget-control-dev
        awslogs-create-group: "true"
        tag: "{{.Name}}"
    networks:
      - default

  budget-control-worker:
    container_name: "${WORKER_NAME}"
    image: "${DOCKER_COMPOSE_IMAGE_NAME}"
    tty: true
    depends_on:
      budget-control:
        condition: service_healthy
    command: ["infisical", "run", "--projectId", "${PROJECT_ID}", "--", "node", "dist/worker.js"]
    environment:
      - INFISICAL_API_URL=${INFISICAL_API_URL}
      - INFISICAL_TOKEN=${INFISICAL_TOKEN}
      - INFISICAL_ENV=${INFISICAL_ENV}
      - PROJECTID=${PROJECT_ID}
    ports:
      - "127.0.0.1:${WORKER_PORT}:${WORKER_PORT}"
    healthcheck:
      test: curl --fail http://localhost:${WORKER_PORT} || exit 1
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    logging:
      driver: "awslogs"
      options:
        awslogs-region: us-east-1
        awslogs-group: budget-control-dev
        awslogs-create-group: "true"
        tag: "{{.Name}}"
    networks:
      - default

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    container_name: budget-control-redis-dev
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      ALLOW_EMPTY_PASSWORD: false
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - budget_control_api_redis_data:/data
    networks:
      - default
    restart: always

  postgres:
    image: postgres:16.3
    container_name: budget-control-postgres-dev
    restart: always
    ports:
      - "127.0.0.1:${DOCKER_DATABASE_PORT}:5432"
    environment:
      POSTGRES_DB: ${DOCKER_DATABASE_NAME}
      POSTGRES_USER: ${DOCKER_DATABASE_USER}
      POSTGRES_HOST: ${DOCKER_DATABASE_HOST}
      POSTGRES_PASSWORD: ${DOCKER_DATABASE_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d \$\${POSTGRES_DB} -U \$\${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default
    volumes:
      - budget_control_api_postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

networks:
  default:
    name: "budget-control-dev"
    driver: bridge

volumes:
  budget_control_api_redis_data:
    name: "budget_control_api_redis_data"

  budget_control_api_postgres_data:
    name: "budget_control_api_postgres_data"
