version: "3.9"

services:
  budget-control:
    container_name: "${NAME}"
    image: "${DOCKER_COMPOSE_IMAGE_NAME}"
    tty: true
    command: ["sh", "./deployment.sh"]
    restart: always
    env_file:
      - .env
    ports:
      - "${DOCKER_PORT}:${PORT}"
    environment:
      DATABASE_HOST: "${DATABASE_HOST}"
      DATABASE_PORT: "${DATABASE_PORT}"
      DATABASE_NAME: "${DATABASE_NAME}"
      DATABASE_USER: "${DATABASE_USER}"
      DATABASE_PASSWORD: "${DATABASE_PASSWORD}"
    healthcheck:
      test: curl --fail http://localhost:${PORT}/api/v1 || exit 1
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - default

  budget-control-worker:
    container_name: "${WORKER_NAME}"
    image: "${DOCKER_COMPOSE_IMAGE_NAME}"
    tty: true
    env_file:
      - .env
    depends_on:
      budget-control:
        condition: service_healthy
    command: ["node", "dist/worker.js"]
    environment:
      DATABASE_HOST: "${DATABASE_HOST}"
      DATABASE_PORT: "${DATABASE_PORT}"
      DATABASE_NAME: "${DATABASE_NAME}"
      DATABASE_USER: "${DATABASE_USER}"
      DATABASE_PASSWORD: "${DATABASE_PASSWORD}"
    ports:
      - "${WORKER_PORT}:${WORKER_PORT}"
    
    networks:
      - default

networks:
  default:
    name: "budget-control-dev"
    driver: bridge
